html {
    scroll-behavior: smooth;
}

body {
    background-image: url(../img/fundo.png);

}

h1 {
    color: rgb(238, 236, 236);
    color: #fff;
    text-align: center;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    font-size: larger;
}

header {
    width:100%;
    padding: 2%;
}

.logo {
    color: black;
    text-align: center;
    font-size: 1.4em;
}

nav {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 1.4em;
}

.bannerini {
    width: 100%;
}

.container {
    margin: auto;
    width: 80%;
}

footer {
    color: white;
    font-size: 1.3em;
    text-align: center;
}

.io {
    color: white;
}

p{
    color: #fff;
    padding-top: 1%;
    padding-bottom: 0.5%;
    line-height: 1.5;
    font-size: medium;
    text-align: justify;
    text-indent: 25px;  
}

.banner2 {
    width: 100%;
}

.banner3 {
    width: 100%;
}

.banner4 {
    width: 25%;
}

.banner5 {
    width: 25%;
}

.banner6 {
    width: 25%;
}

.banner7 {
    width: 25%;
}

.banner8 {
    width: 25%;
}

.banner9 {
    width: 25%;
}

.banner10 {
    width: 25%;
}

html{
    scroll-behavior: smooth;
}

.linha{
    display: flex;
    flex-flow: row wrap;
    text-align: center;    
}

.col-6 {
    width: 25%;
}

.borda {
    border-style: dashed;
    border-color: rgb(0, 20, 243);
    border-width: 25%;
}

@media (max-width: 800px) {
    .linha {
      flex-direction: column;
    }

    .col-6 {
        width: 100%;
    }
  }

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    font-size: larger;
    background-color: rgb(97, 36, 7);
  }
  
  td, th {
    border: 5px solid #04660c;
    text-align: justify;
    padding: 8px;
  }

.titulocafe {
    font-size: larger;
}

.ultimafrase {
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
}

.centro {
    text-align: center;
}

.centro2 {
    text-align: center;
}

.fonte {
    font-size: large;
}

.fonte2 {
    font-size: large;
}

.github {
    width: 7em;
    height: 7em;
}

.insta {
    width: 8em;
    height: 8em;
}