body {
    background-color: rgb(0, 170, 11);
}

h1 {
    color: rgb(238, 236, 236);
    text-align: center;
}

header {
    width: 100%;
    background-color: rgba(0, 255, 0, 0.484);
}

.logo {
    color: black;
    text-align: center;
    font-size: 1.4em;
}

nav {
    color: black;
    text-align: center;
    font-size: 1.4em;
}

.banner {
    width: 100%;
}

.container {
    background-color: rgb(11, 121, 1);
    width: 80%;
    margin: auto;
}

footer {
    background-color: gray;
    color: white;
    font-size: 1.3em;
    text-align: center;
}

.io {
    color: white;
}

.banner2 {
    width: 100%;
}

.banner3 {
    width: 100%;
}

.banner4 {
    width: 100%;
}

.banner5 {
    width: 100%;
}

.banner6 {
    width: 100%;
}

.banner7 {
    width: 100%;
}

.banner8 {
    width: 100%;
}

.banner9 {
    width: 100%;
}

.banner10 {
    width: 100%;
}